/* public/css/auth.css */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #333;
}
.separator::before {
    margin-right: .5em;
}
.separator::after {
    margin-left: .5em;
}
.separator span {
    font-weight: bold;
    color: #333;
}
